<!--
  Generated template for the MarkerModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pedido Sujeito a Avaliação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list radio-group>
	  <ion-list-header>
	    Selecione a causa do problema
	  </ion-list-header>

	  <ion-item>
	    <ion-label>Buraco no Asfalto</ion-label>
	    <ion-radio value="1" (ionSelect)="selected('Buraco no Asfalto')"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>Foco de Dengue</ion-label>
	    <ion-radio value="2" (ionSelect)="selected('Foco de Dengue')"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>Falta de Limpeza</ion-label>
	    <ion-radio value="3" (ionSelect)="selected('Falta de Limpeza')"></ion-radio>
	  </ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
      		Preencha os dados abaixo
    	</ion-list-header>

	  <ion-item>
	    <ion-label color="primary" floating>Nome Completo</ion-label>
	    <ion-input type="text" [(ngModel)] = "nome"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label color="primary" floating>Telefone</ion-label>
	    <ion-input type="tel" [(ngModel)] = "telefone"></ion-input>
	  </ion-item>

	  <ion-item>
		<ion-label color="primary" floating>Email</ion-label>
	    <ion-input type="email" [(ngModel)] = "email"></ion-input>
	  </ion-item>
	 
	  <ion-item>
	    <ion-textarea placeholder="Descreva o problema" [(ngModel)] = "desc"></ion-textarea>
	  </ion-item>

	  <ion-item>
	  	<ion-row>
      <ion-col>
        <div><button ion-button block color="danger" (click)="closeModal()">Cancelar</button></div>
      </ion-col>
      <ion-col>
        <div><button ion-button block color="succes" (click)="saveData()">Enviar</button></div>
      </ion-col>
    </ion-row>
	  	
	  </ion-item>	

	</ion-list>


	
</ion-content>
